body {
  background-color: rgb(94, 94, 94);
}

table {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

#zero {
  /*width: 300px;*/
}

input[type="text"] {
  width: 810px;
  height: 50px;
  font-size: xx-large;
  text-align: right;
}

input[type="button"] {
  background-color: #f1a50e;
  border: 0;
  width: 200px;
  height: 100px;
  font-size: xx-large;
}

input[type="button"]:hover {
  background-color: #f3b73f;
}

input[type="button"]:active {
  background-color: #cc8c0c;
}
